* {
    margin: 0;
    padding: 0;
}

/* Estilos generales*/
body {
    background-color: white;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: url(./imgs/profesional-herramientas-dentista-silla-oficina-dental_1204-394.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1{
    display: flex;
    justify-content: center;
}

/* Barra de navegación */
nav {
    background-color: #004d99; /* o #648E91 */
    padding: 10px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.nav-link {
    color: #ffffff; 
    text-decoration: none;
    padding: 10px 15px;
    font-weight: 500;
    transition: background-color 0.3s ease;
}
.nav-link:hover,.nav-link.active {
    background-color: #002d66; /* Color al pasar el ratón */
    border-radius: 5px;
    color: #5CC7D1;
}

.navbar img{
    height: 50px; /* Ajusto la altura del logo */
    transition: transform 0.3s ease;
}
.navbar img:hover{
    transform: scale(1.1); /* Efecto de aumento al pasar el ratón */
}

/* Home */
.main-home {
    display: flex;
    justify-content: center;
    margin: 100px;
    gap: 40px;
}

.main-card{
    background-color: rgba(255, 255, 255, 0.8); 
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 300px;
    max-width: 90%;
    text-align: center;
    backdrop-filter: blur(10px); /* sirve para desenfocar el fondo*/
}

.main-card h3{
    margin-top: 0;
    color: #333333; 
    font-weight: 700; 
}

.main-card p {
    color: #555555; 
    text-align: left; 
}

/* Servicios */


.servicios {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8); 
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.servicio {
    width: 45%;
    background-color: #bbb;
    margin: 10px;
    padding: 15px;
    border-radius: 8px;
    transition: transform 3s, background-color 3s;
}

.servicio:hover {
    background-color: #999;
    transform: scale(1.05);
}

.servicio p {
    display: none;
}

.servicio:hover p {
    display: block;
}

/* EQUIPO MEDICO */
section.equipo-medico {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
}

.perfil {
    width: calc(100% - 40px); /* Ajusta el ancho y el margen para el espaciado */
    background-color: #bbbbbb9c;
    margin: 20px;
    padding: 15px;
    border-radius: 8px;
    transition: transform 3s, background-color 3s;
    box-sizing: border-box;
    cursor: pointer;
}

.perfil:hover {
    background-color: #999;
    transform: scale(1.05);
}

.perfil p {
    display: none;
}

.perfil.active p {
    display: block;
}

/* TESTIMONIOS */
.testimonios {
    padding: 50px 20px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8);
}

.testimonios-container {
    display: flex;
    justify-content: space-around;
    max-width: 1200px;
    margin: 0 auto;
}

.testimonio {
    background: #ffffff;
    padding: 20px;
    margin: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    max-width: 300px;
    text-align: left;
}

.testimonio p {
    font-style: italic;
    color: #555555;
}

.testimonio h3 {
    text-align: right;
    font-weight: normal;
    color: #555555;
}

/* Formulario para turnos */
.container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 2rem;
}

#reservaForm {
    flex: 1;
    background: rgba(255, 255, 255, 0.977);
    padding: 2rem;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#reservaForm div {
    margin-bottom: 1rem;
}

#reservaForm label {
    display: block;
    margin-bottom: 0.5rem;
}

#reservaForm input,
#reservaForm select,
#reservaForm button {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.calendar-container {
    background-color: rgba(255, 255, 255, 0.977);
    border-radius: 5px;
    padding: 100px;
    width: 50%;
    margin-right: 20px;
}

.calendar-nav {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

#calendar {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 1rem;
}

.day {
    padding: 1rem;
    text-align: center;
    background: #f1f1f1;
    border-radius: 5px;
    cursor: pointer;
}
.day:hover{
    background-color: #5CC7D1;
}

.day.disabled {
    pointer-events: none;
    background: #ccc;
}

.day.selected {
    background: #0056b3;
    color: white;
}

/* TERMINA  FORMULARIO*/
#enunciado, form {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: 0 auto;
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type="text"],
select,
textarea {
    width: 95%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #cccccc;
    margin-bottom: 12px;
}

select {
    height: 36px;
}

textarea {
    height: 100px;
}

.date-inputs {
    display: flex;
    gap: 10px;
}

.date-inputs input[type="text"] {
    width: 60px;
}

input[type="submit"] {
    background-color: #4caf50;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

/* CONTACTO */
.container-contacto{
    display: flex;
}

#direccion{
    background-color: rgba(255, 255, 255, 0.8); 
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 300px;
    max-width: 90%;
    text-align: center;
    backdrop-filter: blur(10px); /* sirve para desenfocar el fondo*/
}

#mapa{
    background-color: rgba(255, 255, 255, 0.8); 
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 300px;
    max-width: 90%;
    text-align: center;
    backdrop-filter: blur(10px); /* sirve para desenfocar el fondo*/
}

#consultas{
    background-color: rgba(255, 255, 255, 0.8); 
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 300px;
    max-width: 90%;
    text-align: center;
    backdrop-filter: blur(10px); /* sirve para desenfocar el fondo*/
}

.contacto{
    flex: 1;
    padding: 10px;
    border: 1px solid #000000cc;
}

#map{
    width: 600px; 
    height: 450px;
    border:0;
}
/* FOOTER */
footer{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    width: 100%;
    background-color: #f8f8f8;
    padding: 1em 0; 
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.2);
    position: relative;
    bottom: 0;
    margin-top: auto;
}

.footer-section {
    text-align: center;
    width: 20%;
}
.footer-section h3 {
    color: #333333;
    font-weight: 700;
    margin-bottom: 10px;
}
.footer-section p {
    color: #555555;
    margin: 5px 0;
    padding: 0;
}

.footer-section ul {
    list-style: none;
    margin: 5px 0;
    padding: 0;
}

.footer-section li {
    color: #555555;
    margin: 5px 0;
    padding: 0;
}
.footer-section a {
    color: #555555;
    text-decoration: none;
}
.footer-section a:hover {
    text-decoration: underline;
}

.social-media {
    padding: 0;
}

.social-media li {
    display: inline;
    margin: 0 5px;
}


/*SLIDER*/

.slider {
    display: flex;
}
.slider_container{
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    border: 4px solid black;
}

.elemento{
    min-width: 100%;
    height: 300px;
    font-size: 3rem;
    text-align: center;
    line-height: 300px;
}


/* Acá Termina el slider*/

