* {
    margin: 0;
    padding: 0;
}

/* Estilos generales*/
body {
    background-color: white;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: darkgray; /* para que no moleste a la vista*/
    background-image: url();
}

.navbar {
    text-align: center;
    background-color:  white;
}

.navbar img{
    width: 15vh;
    height: 15vh;
    margin: 15px;
}

.navbar a {
    margin: 40px;
    margin-bottom: 20px;
    font-size: 15px;
    color: #465152;
    text-decoration: none;
}
.navbar a:hover{
    color: #5CC7D1;
    cursor: pointer;
}

/* FOOTER */
.footer {
    background-color: #D15C9F;
    padding: 1em 0;
    text-align: center;
    margin-top: auto;
}

.footer .foot-contact{
    position: absolute;
    right: 80%;
}
.footer .foot-direccion{
    position: absolute;
    right: 65%;

}
.footer .foot-redes{
    position: absolute;
    left: 80%;

}
.footer .foot-preguntas{
    position: absolute;
    left: 65%;

}

/* Home */


/*SLIDER*/

.slider {
    display: flex;
}
.slider_container{
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    border: 4px solid black;
}

.elemento{
    min-width: 100%;
    height: 300px;
    font-size: 3rem;
    text-align: center;
    line-height: 300px;
}


/* Termina el slider*/
.main-home {
    display: flex;
    justify-content: center;
    margin: 100px;
}

.main-card{
    border: 1px solid gray;
    border-radius: 25px;
    margin: 10px;
    width: 50vh;
    height: 70vh;
    background-color: white;
}

.main-card h3{
    text-align: center;
    color: darkgray ;
}

.main-card p {
    display: flex;
    text-align: justify;
    margin-top: 20px;
}

/*
.main-valores{
    border: 1px solid gray;
    border-radius: 25px;
    margin: 10px;
    width: 50vh;
    height: 70vh;
    background-color: lightgrey;
}

.main-valores h3{
    text-align: center;
}

.main-servicios{
    border: 1px solid gray;
    border-radius: 25px;
    margin: 10px;
    width: 50vh;
    height: 70vh;
    background-color: lightgrey;
}

.main-servicios h3{
    text-align: center;
}
*/